* {
    font-family: 'Press Start 2P', cursive;
}

h1, p {
    color: white;
}

h2 {
    color: white;
    padding-top: 5%;
}

.grid {
    display: contents;
    grid-template-columns: 350px 320px 200px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.left-column {
    display: flex;
    flex-direction: column;
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-board {
    border: solid 2px;
}

.play-button {
    background-color: #4caf50;
    font-size: 16px;
    padding: 15px 30px;
    cursor: pointer;
}

#pause-btn {
    display: none;
}

#sound-speaker {
    font-size: 30px;
}

.sound-item {
    cursor:pointer
}